name: ci
on:
  workflow_dispatch: {}
env:
  XDG_CACHE_HOME: ${{ github.workspace }}/.cache
  ELECTRON_CACHE: ${{ github.workspace }}/.cache/electron
  ELECTRON_BUILDER_CACHE: ${{ github.workspace }}/.cache/electron-builder
jobs:
  webui:
    runs-on: ubuntu-latest
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Read ipfs-webui CID from package.json
      id: read-webui-version
      run: 'echo ''::echo::on''

        echo "cid=$(grep "build:webui:download" package.json | grep -Eio "bafy[a-z0-9]+")" >> $GITHUB_OUTPUT

        echo ''::echo::off''

        '
      shell: bash
    - name: Cache webui
      uses: actions/cache@v4
      id: webui-cache
      with:
        path: assets/webui
        key: ${{ steps.read-webui-version.outputs.cid }}
    - name: Cache bigger downloads
      uses: actions/cache@v4
      id: cache
      if: steps.webui-cache.outputs.cache-hit != 'true'
      with:
        path: ${{ github.workspace }}/.cache
        key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json', 'electron-builder.yml') }}
        restore-keys: '${{ runner.os }}-${{ hashFiles(''package.json'', ''package-lock.json'', ''electron-builder.yml'') }}

          ${{ runner.os }}-

          '
    - uses: ipfs/download-ipfs-distribution-action@v1
      if: steps.webui-cache.outputs.cache-hit != 'true'
      with:
        name: kubo
    - uses: ipfs/start-ipfs-daemon-action@v1
      if: steps.webui-cache.outputs.cache-hit != 'true'
    - name: Install dependencies and fetch ipfs-webui
      if: steps.webui-cache.outputs.cache-hit != 'true'
      run: 'npm ci --prefer-offline --no-audit --progress=false --cache ${{ github.workspace }}/.cache/npm

        npm run clean

        npm run force-webui-download

        '
    - name: Attach cached ipfs-webui to Github Action
      uses: actions/upload-artifact@v4
      with:
        name: ipfs-webui
        path: assets/webui
        if-no-files-found: error
  test:
    runs-on: ${{ matrix.os }}
    needs: webui
    strategy:
      fail-fast: !!bool 'false'
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Read ipfs-webui CID from package.json
      id: read-webui-version
      run: echo "cid=$(grep "build:webui:download" package.json | grep -Eio "bafy[a-z0-9]+")" >> $GITHUB_OUTPUT
      shell: bash
    - name: Cache webui
      uses: actions/cache@v4
      id: webui-cache
      with:
        path: assets/webui
        key: ${{ steps.read-webui-version.outputs.cid }}
    - name: Cache bigger downloads
      uses: actions/cache@v4
      id: cache
      with:
        path: ${{ github.workspace }}/.cache
        key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json', 'electron-builder.yml') }}
        restore-keys: '${{ runner.os }}-${{ hashFiles(''package.json'', ''package-lock.json'', ''electron-builder.yml'') }}

          ${{ runner.os }}-

          '
    - uses: ipfs/download-ipfs-distribution-action@v1
      if: steps.webui-cache.outputs.cache-hit != 'true'
      with:
        name: kubo
    - uses: ipfs/start-ipfs-daemon-action@v1
      if: steps.webui-cache.outputs.cache-hit != 'true'
    - name: Install dependencies
      run: npm ci --prefer-offline --no-audit --progress=false --cache ${{ github.workspace }}/.cache/npm
    - name: Build
      run: npm run build
    - name: Stop any ipfs daemon before tests
      run: ipfs shutdown || true
      shell: bash
    - name: Test
      run: npm run test
    - name: Workaround to enable e2e tests on github CI
      if: runner.os == 'Linux'
      run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
    - name: Test end-to-end
      run: npm run test:e2e
    - name: Lint
      run: npm run lint
  build:
    runs-on: ${{ matrix.os }}
    needs: test
    strategy:
      fail-fast: !!bool 'false'
      matrix:
        os:
        - macos-latest
        - ubuntu-latest
        - windows-latest
    steps:
    - name: Check out Git repository
      uses: actions/checkout@v4
    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Read ipfs-webui CID from package.json
      id: read-webui-version
      run: echo "cid=$(grep "build:webui:download" package.json | grep -Eio "bafy[a-z0-9]+")" >> $GITHUB_OUTPUT
      shell: bash
    - name: Cache webui
      uses: actions/cache@v4
      id: webui-cache
      with:
        path: assets/webui
        key: ${{ steps.read-webui-version.outputs.cid }}
    - name: Cache bigger downloads
      uses: actions/cache@v4
      id: cache
      with:
        path: ${{ github.workspace }}/.cache
        key: ${{ runner.os }}-${{ hashFiles('package.json', 'package-lock.json', 'electron-builder.yml') }}
        restore-keys: '${{ runner.os }}-${{ hashFiles(''package.json'', ''package-lock.json'', ''electron-builder.yml'') }}

          ${{ runner.os }}-

          '
    - uses: ipfs/download-ipfs-distribution-action@v1
      if: steps.webui-cache.outputs.cache-hit != 'true'
      with:
        name: kubo
    - uses: ipfs/start-ipfs-daemon-action@v1
      if: steps.webui-cache.outputs.cache-hit != 'true'
    - name: Install dependencies
      run: npm ci --prefer-offline --no-audit --progress=false --cache ${{ github.workspace }}/.cache/npm
    - name: Build
      run: npm run build
    - name: Get tag
      id: tag
      run: "if [[ \"$GITHUB_REF\" == \"refs/tags/\"* ]]; then\n  echo \"tag=${GITHUB_REF/refs\\/tags\\//}\" >> $GITHUB_OUTPUT\nfi\n"
      shell: bash
      continue-on-error: !!bool 'true'
    - name: Run release-please release-pr
      if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
      run: npm run release-pr
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      continue-on-error: !!bool 'true'
    - name: Run release-please github-release
      if: github.ref == 'refs/heads/main' && (github.event_name == 'push' || github.event_name == 'workflow_dispatch')
      run: npm run release-gh
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      continue-on-error: !!bool 'true'
    - name: Build binaries with electron-builder
      uses: paneron/action-electron-builder@14b133702d1b2e9749912051c43ed62b4afe56c8
      with:
        package_manager: npm
        skip_package_manager_install: !!bool 'true'
        args: --publish onTagOrDraft
        release: !!bool 'false'
        max_attempts: 2
        github_token: ${{ secrets.github_token }}
        windows_certs: ${{ secrets.windows_certs }}
        windows_certs_password: ${{ secrets.windows_certs_password }}
        mac_certs: ${{ secrets.mac_certs }}
        mac_certs_password: ${{ secrets.mac_certs_password }}
      env:
        PUBLISH_FOR_PULL_REQUEST: ${{ secrets.PUBLISH_FOR_PULL_REQUEST }}
        CSC_FOR_PULL_REQUEST: ${{ secrets.CSC_FOR_PULL_REQUEST }}
        APPLEID: ${{ secrets.apple_id }}
        APPLEIDPASS: ${{ secrets.apple_id_pass }}
    - name: Show dist/
      run: du -sh dist/ && ls -l dist/
    - name: Attach produced packages to Github Action
      uses: actions/upload-artifact@v4
      with:
        name: dist-${{ matrix.os }}
        path: dist/*esktop*.*
        if-no-files-found: error
    - name: Show Cache
      run: du -sh ${{ github.workspace }}/.cache/ && ls -l ${{ github.workspace }}/.cache/
