name: Close and mark stale issue
on:
  workflow_dispatch: {}
permissions:
  issues: write
  pull-requests: write
jobs:
  stale:
    uses: pl-strflt/.github/.github/workflows/reusable-stale-issue.yml@v0.3
